* {
    box-sizing: border-box;
}

body{
    margin: 0;
}
.frm-1{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 1rem;
    width: 35%;
    margin: 50px auto;
    gap: 0.8rem;
    
}

.title{
    margin: 0;
    text-align: center;
}

input{
    padding: 0.3rem;
    max-width: 100%;
}

button{
    padding: 0.5rem;
    background-color: black;
    color: white;
    cursor: pointer;
}

input[type="radio"]{
    accent-color: black;
}

@media screen and (max-width: 670px){
    body{
        margin: 0;
    }
    .frm-1{
        margin: 0;
        width: 100%;
    }
}